<h1>Cadastrar Paciente</h1>

<% form_for(@paciente, :html => {:class => 'cadastro'}) do |f| %>
  <%= f.error_messages %>
	
  <% f.fields_for :pessoa do |pessoa_builder| %>
  	<%= render 'campos_pessoa', :f => pessoa_builder, :modelo => @paciente %>
  <% end %>	

  <div class = "botoes primeiro">
	<%= f.submit 'Enviar' %>
	ou
	<%= link_to 'cancelar', pacientes_path %>
  </div>
<% end %>
