
.lista {

       width: 80%;
       border-width: 1px;
       border-style: solid none none none;
       border-color: rgb(244,110,4);

}

.lista td,
.lista th {

       border-width: 1px;
       border-style: none none solid none;
       border-color: rgb(244,110,4);

}

.lista th {
  background-color: rgba(244,110,4,0.1);
}

.lista td.numerico {
  text-align: right;
}

.lista A {

       text-decoration: none;
       padding-right: 10px;

}

.lista .rodape {
  font-weight: bold;
}

A IMG{

       border-width: 0;

}

#container {

        position: relative;
        height: 27px;

}

#fixtext {

        position: relative;
        width: 80%;
        left: 20px;
        top: 12%;

}

#fiximage {

        position: relative;
        width: 200px;
        top: -16px;
        left: 82%;

}
