<p><%= link_to 'Relatório de Receitas', :action => 'receitas' %></p>
<p><%= link_to 'Relatório de Despesas', :action => 'despesas' %></p>
<p><%= link_to 'Movimentação Financeira', :action => 'movimentacao_financeira' %></p>